### Mediator Configuration
### You can override these settings by setting environment variables
### Example: export MEDIATOR_DID=did://did:web:localhost%3A7037:mediator:v1:.well-known

### log_level: trace debug info warn error
### default: info
### NOTE: RUST_LOG environment variable can override this setting
log_level = "info"

### log_json: If true, log output will be in JSON format
### default: true
log_json = "${LOG_JSON:false}"

### mediator_did: DID of the mediator
### REQUIRED: DID of the mediator
### Supported formats:
### - did://did:peer:<version>:<base58-encoded-verification-key>
### - aws_parameter_store://<parameter_name> - Load DID from AWS Systems Manager Parameter Store
mediator_did = "${MEDIATOR_DID:did://did:web:localhost%3A7037:mediator:v1:.well-known}"

### ****************************************************************************************************************************
### Server configuration
### ****************************************************************************************************************************
[server]
### listen_address: <ip_address>:<tcp_port> that this service will listen on.
### Default: 0.0.0.0:7037
listen_address = "${LISTEN_ADDRESS:0.0.0.0:7037}"

### api_prefix: API prefix
### Default: /mediator/v1/
api_prefix = "${API_PREFIX:/mediator/v1/}"

### admin_did: DID of the admin
### REQUIRED: DID of the admin
### Supported formats:
### - did://did:method:...
### - aws_parameter_store://<parameter_name> - Load DID from AWS Systems Manager Parameter Store
### NOTE: It is strongly recommended to NOT use the same DID as the mediator! 
###       This causes more use cases where the secrets of the mediator itself can be exposed in administration tasks.
### NOTE: You can add additional Mediator admin DIDs after mediator has started by using the Affinidi Mediator admin DIDComm protocol
admin_did = "${ADMIN_DID:did://did:peer:2.Vz6MkjjuGgApQJhZ1vjf6w6vEjg1y92XFDaTYyhkpJT3uUDkB.EzQ3shnF7Ek7a1x9hjTrE4HJrhBrVJVJBDTnbkkFCKDQ8mDP5F}"

### did_web_self_hosted: <DID Document Path> Path to the self-hosted DID Document
### Default: None
### Supported formats:
### - file://<path> - Load secrets from a file
### - aws_parameter_store://<parameter_name> - Load DID Document from AWS Systems Manager Parameter Store
### NOTE: If you are using a self-hosted DID Document, you can specify the path here
### This is a convenience feature to allow you to host a did:web DID Document on the same server as the mediator
### When this option is enabled, a did:web valid route will be added /.well-known/did.json
### NOTE: You can put port names in the did:web identifier, i.e. did:web:localhost%3A7037
did_web_self_hosted = "${DID_WEB_SELF_HOSTED:file://./conf/mediator_did.json}"

### ****************************************************************************************************************************
### Database configuration
### ****************************************************************************************************************************
[database]
### functions_file: Path to the database functions file
### Default: ./conf/atm-functions.lua
functions_file = "${DATABASE_FUNCTIONS_FILE:./conf/atm-functions.lua}"

### database_url: URL of the Redis compatible database
### Default: redis://127.0.0.1/
database_url = "${DATABASE_URL:redis://127.0.0.1/}"

### database_pool_size: Number of connections to the database
### Default: 10
database_pool_size = "${DATABASE_POOL_SIZE:10}"

### database_timeout: Timeout for database operations in seconds
### Default: 2
database_timeout = "${DATABASE_TIMEOUT:2}"

### ****************************************************************************************************************************
### Security configuration
### ****************************************************************************************************************************
[security]
### mediator_acl_mode: What ACL logic mode is the mediator running in?
### Default: explicit_deny
### Options:
###    - explicit_deny: Mediator will allow any DID to connect and forward/deliver messages unless explicitly denied
###    - explicit_allow: Mediator will deny all DIDs except for what has been explicitly allowed
mediator_acl_mode = "${MEDIATOR_ACL_MODE:explicit_deny}"

### global_acl_default: Default ACL that is applied to new/unknown DIDs that connect to the mediator
### Default: ALLOW_ALL
### NOTE: When building a default ACL, the starting point is all actions are denied unless explicitly allowed
### Options:
###    - ALLOW_ALL: Allow all operations (sets ACL mode to explicit_deny per DID, DID can self manage their own ACLs)
###    - DENY_ALL: Deny all operations (sets ACL mode to explicit_allow per DID)
###    - MODE_EXPLICIT_ALLOW: Per DID Access Control List (ACL) will only allow what is explicitly allowed
###    - MODE_EXPLICIT_DENY: Per DID Access Control List (ACL) will only allow everyone except for those explicitly denied
###    - MODE_SELF_CHANGE: Allows the DID owner to change the ACL Mode for their own DID Access Control List
###    - LOCAL: Will store messages for a DID on the mediator
###    - SEND_MESSAGES: DID Can send messages to others
###    - SEND_MESSAGES_CHANGE: Allows the DID owner to change the send_messages ACL for their own DID
###    - RECEIVE_MESSAGES: DID Can receive messages from others
###    - RECEIVE_MESSAGES_CHANGE: Allows the DID owner to change the receive_messages ACL for their own DID
###    - SEND_FORWARDED: DID can send forwarded messages
###    - SEND_FORWARDED_CHANGE: Allows the DID owner to change the send_forwarded ACL for their own DID
###    - RECEIVE_FORWARDED: DID can receive forwarded messages
###    - RECEIVE_FORWARDED_CHANGE: Allows the DID owner to change the receive_forwarded ACL for their own DID
###    - CREATE_INVITES: DID can create OOB invites
###    - CREATE_INVITES_CHANGE: Allows the DID owner to change the create_invites ACL for their own DID
###    - ANON_RECEIVE: DID can receive anonymous messages
###    - ANON_RECEIVE_CHANGE: Allows the DID owner to change the anon_receive ACL for their own DID
###    - SELF_MANAGE_LIST: DID can self manage their own ACL list (add/remove)
###    - SELF_MANAGE_SEND_QUEUE_LIMIT: DID can set their send queue limits (between the queued_messages_soft and queued_messages_hard)
###    - SELF_MANAGE_RECEIVE_QUEUE_LIMIT: DID can set their receive queue limits (between the queued_messages_soft and queued_messages_hard)
###  NOTE: Can be comma separated to allow multiple options
global_acl_default = "${GLOBAL_DEFAULT_ACL:ALLOW_ALL}"

### local_direct_delivery_allowed: If true, messages that are addressed to a local DID directly will be delivered
### Default: false (all messages must be addressed to the mediator)
### NOTE: This can be useful on private networks where you may not want to wrap every message in a forward envelope
###       If set to false, then all messages must be addressed to the mediator, and the mediator will handle delivery
###       If set to true, then you can either message the mediator or to a local DID directly
local_direct_delivery_allowed = "${LOCAL_DIRECT_DELIVERY_ALLOWED:false}"

### mediator_secrets: Secrets of the mediator
### REQUIRED: Location of secrets
### Supported formats:
### - file://<path> - Load secrets from a file
### - aws_secrets://<secret_name> - Load secrets from AWS Secrets Manager
### See secrets.json-example for the format of the secrets
### NOTE: The key identifiers (id) must match the key identifiers in the mediator_did
mediator_secrets = "${MEDIATOR_SECRETS:file://./conf/secrets.json}"

### If true (default) SSL is enabled.
### default: true
### NOTE: do not use `false` in prod unless TLS is terminated outside of the service
use_ssl = "${USE_SSL:false}"

### Note: If you comment out the following SSL configs,  will default back to non-TLS mode.
###       Useful if doing testing/debugging without requiring SSL certificate checks
### ssl_certificate_file: <path> file that contains the SSL certificate for this service
ssl_certificate_file = "${SSL_CERTIFICATE_FILE:conf/keys/end.cert}"

### ssl_key_file: <path> file that contains the SSL certificate key
ssl_key_file = "${SSL_KEY_FILE:conf/keys/end.key}"

### jwt_authorization_secret
### REQUIRED: Key string that is used to sign JWT tokens
### Supported Formats:
### - string://<key> - Use the key as is
### - aws_secrets://<secret_name> - Load the key from AWS Secrets Manager
jwt_authorization_secret = "${JWT_AUTHORIZATION_SECRET:string://MFECAQEwBQYDK2VwBCIEILmEDOx2i51aajzZgkKMwj6NFtUb0hEvKBru66D7RtzfgSEAE1rYEDNaqPm0IlrOuz-fcH80Pv1B_XNR7sw5sTZgD90}"

### jwt_access_expiry: Expiry time in seconds for JWT access tokens
### Default: 900 (15 Minutes)
### NOTE: JWT_ACCESS_EXPIRY has a minimum value of 10 seconds, if you try to set below this it will override it to 10
###       This is due to SDK's needing some time to refresh the token and handle a transaction before triggering a refresh
jwt_access_expiry = "${JWT_ACCESS_EXPIRY:900}"

### jwt_refresh_expiry: Expiry time in seconds for JWT refresh tokens
### Default: 86400 (24 hours)
jwt_refresh_expiry = "${JWT_REFRESH_EXPIRY:86_400}"

### cors_allow_origin: Comma separated list of origins that are allowed to access this service
### Default: *
### NOTE: Use * to allow all origins, otherwise for production you should limit the origins
### Example: "https://affinidi.com,https://example2.com"
# cors_allow_origin = "${CORS_ALLOW_ORIGIN:https://affinidi.com}"

### ****************************************************************************************************************************
### Live streaming setup
### ****************************************************************************************************************************
[streaming]
### enabled: If true, can live stream messages to subscribed recipients via WebSockets
### Default: true
enabled = "${STREAMING_ENABLED:true}"

### uuid: Each subscriber needs a unique identifier, this is used to setup session tracking in the backend
### Default: hostname"
### Supported Formats:
### - hostname://
### - string://<uuid> - Use the UUID as is
### NOTE: Having multiple subscribers with the same UUID will cause issues
uuid = "${STREAMING_UUID:hostname://}"

### ****************************************************************************************************************************
### DID Resolver configuration
### ****************************************************************************************************************************
[did_resolver]
### service_address: Address of the DID resolver service
### Default: None (Uses local DID resolver)
#address = "${DID_RESOLVER_ADDRESS:ws://127.0.0.1:8080/did/v1/ws}"

### cache_capacity: Number of DID's to cache in memory
### Default: 1000
cache_capacity = "${DID_RESOLVER_CACHE_CAPACITY:1000}"

### cache_ttl: Time to live in seconds for DID's in the cache
### Default: 300 (5 minutes)
cache_ttl = "${DID_RESOLVER_CACHE_TTL:300}"

### network_timeout: Timeout in milliseconds for DID Resolver operations
### Default: 5000 milliseconds (you need to account for 3rd party DID resolution latency (blockchains, www etc)
network_timeout = "${DID_RESOLVER_NETWORK_TIMEOUT:5000}"

### network_limit: Maximum number of concurrent requests to the DID resolver
### Default: 100
network_limit = "${DID_RESOLVER_NETWORK_LIMIT:100}"

### ****************************************************************************************************************************
### Resource limits for the mediator
### ****************************************************************************************************************************
[limits]
### attachments_max_count: Maximum number of attachments in a single message
### Default: 20
attachments_max_count = "${LIMIT_ATTACHMENTS_MAX_COUNT:20}"

### approximate maximum amount of crypto operations per one message
### it is used to protect the mediator from DoS type attacks.
### Default: 1000
crypto_operations_per_message = "${LIMIT_CRYPTO_OPERATIONS_PER_MESSAGE:1000}"

### deleted_messages: Maximum number of messages that can be deleted at once
### Default: 100
deleted_messages = "${LIMIT_DELETED_MESSAGES:100}"

### forward_task_queue: How many forward tasks can be queued up in total
### Default: 50_000
forward_task_queue = "${LIMIT_FORWARD_TASK_QUEUE:50000}"

### http_size: Maximum size of a http request payload in bytes
### Default: 10485760 (10MB)
### It is recommended to use infrastructure level limitation instead of application level limitations
http_size = "${LIMIT_HTTP_SIZE:10485760}"

### listed_messages: Maximum number of messages that can be listed at a time
### Default: 100
listed_messages = "${LIMIT_LISTED_MESSAGES:100}"

### local_max_acl: Maximum number of ACL entries that each DID can have
### Default: 1_000
local_max_acl = "${LIMIT_LOCAL_MAX_ACL:1000}"

### message_expiry_seconds: Time to live in seconds for messages stored
### Messages will expire after this limit
### Default: 604_800 (7 days)
message_expiry_seconds = "${LIMIT_MESSAGE_EXPIRY_SECONDS:604800}"

### message_size: Maximum size of a message in bytes
### Default: 1048576 (1MB)
message_size = "${LIMIT_MESSAGE_SIZE:1048576}"

### queued_send_messages_soft: Default number of messages that can queued for outbound delivery for a DID
### Default: 200
### NOTE: -1 means no limit
queued_send_messages_soft = "${LIMIT_QUEUED_SEND_MESSAGES_SOFT:200}"

### queued_messages_hard: Maximum number of messages that a non-admin account can set the queue_send_messages to (upper bound)
### Default: 1000
### NOTE: -1 means no limit
### NOTE: Admin accounts can set higher limits beyond the hard limit. Be careful though as this can be used to DoS the mediator
queued_send_messages_hard = "${LIMIT_QUEUED_SEND_MESSAGES_HARD:1000}"

### queued_receive_messages_soft: Default number of messages that can queued for inbound delivery for a DID
### Default: 200
### NOTE: -1 means no limit
queued_receive_messages_soft = "${LIMIT_QUEUED_RECEIVE_MESSAGES_SOFT:200}"

### queued_messages_hard: Maximum number of messages that a non-admin account can set the queue_receive_messages to (upper bound)
### Default: 1000
### NOTE: -1 means no limit
### NOTE: Admin accounts can set higher limits beyond the hard limit. Be careful though as this can be used to DoS the mediator
queued_receive_messages_hard = "${LIMIT_QUEUED_RECEIVE_MESSAGES_HARD:1000}"

### to_keys_per_recipient: Maximum number of keys in a single recipient did
### Default: 100
### NOTE: Protects against a DOS attack where a single message can become a bomb with thousands of recipients and thousands keys of them
to_keys_per_recipient = "${LIMIT_TO_KEYS_PER_DID:100}"

### to_recipients: Maximum number of recipients in a single message
### Default: 100
### NOTE: Protects against a DOS attack where a single message can become a bomb with thousands of recipients
to_recipients = "${LIMIT_TO_RECIPIENTS:100}"

### ws_size_limit: Maximum size of a websocket request payload in bytes
### Default: 10485760 (10MB)
### It is recommended to use infrastructure level limitation instead of application level limitations
ws_size = "${LIMIT_WS_SIZE:10485760}"

### access_list_limit: Maximum number of access list entries that each DID can have
### Default: 1000
access_list_limit = "${ACCESS_LIST_LIMIT:1000}"

### oob_invite_ttl: Time to live in seconds for OOB invites
### Default 86_400
oob_invite_ttl = "${OOB_INVITE_TTL:86_400}"

### ****************************************************************************************************************************
### Configuration specific to the forwarding processor
### ****************************************************************************************************************************
### NOTE: While you can send a message directly to a DID, ideally you are forwarding messages through the mediator, even if
###       if the ultimate recipient is local to the mediator. This allows the mediator to handle message delivery, retries, etc.

[processors.forwarding]
### enabled: If true, the forwarding processor is enabled within the mediator locally
### Default: true
### NOTE: If you are using a separate forwarding processor, set this to false
enabled = "${PROCESSOR_FORWARDING_ENABLED:true}"

### future_time_limit: Maximum time in seconds that a message can be scheduled in the future
### Default: 86400 (1 day)
future_time_limit = "${PROCESSOR_FORWARDING_FUTURE_TIME_LIMIT:86400}"

### external_forwarding: If true, the mediator will forward messages to another mediator/endpoint when required
### Default: true
### NOTE: If you are running a private network, you may want to disable the ability to forward messages externally
external_forwarding = "${PROCESSOR_FORWARDING_EXTERNAL:true}"

### report_errors: If true, the mediator will generate problem reports to the sender of the message
### Default: true
### NOTE: You may want to disable this in production to prevent leaking information about the mediator
report_errors = "${PROCESSOR_FORWARDING_REPORT_ERRORS:true}"

### blocked_forwarding_dids: Additional DIDs that the mediator will block forwarding to
### Default: None (always includes the mediator DID and associated services)
### NOTE: If you are running a cluster of mediators, you may use this feature to list other cluster DIDs
###       so that you don't accidentally create a circular forwarding loop
### Format: ["did_1", "did_2"]
blocked_forwarding_dids = "${PROCESSOR_FORWARDING_BLOCKED_DIDS:[]}"

[processors.message_expiry_cleanup]
### enabled: If true, the message expiry cleanup processor is enabled within the mediator locally
### Default: true
enabled = "${PROCESSOR_MESSAGE_EXPIRY_CLEANUP_ENABLED:true}"
